body {
    text-align: center;
    background-image: linear-gradient(to bottom, #bfbfbf, #404040);
}

.loginFoto {
    margin-top: 10vh;
}

#inptLoginLoginPagina,
#inptPswdLoginPagina {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid white;
    width: 65vw;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    color: white;
}

#inptLoginLoginPagina {
    margin-top: 14vh;
}

#inptPswdLoginPagina {
    margin-top: 4vh;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d9d9d9;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d9d9d9;
}


/* The container */
.container {
    display: block;
    position: relative;
    margin-left: 17.5vw;
    margin-top: 4vh;
    font-size: 14px;
    color: lightgray;
}


/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#btnRegistreerLoginPagina,
#btnLoginLoginPagina {
    border: 3px solid lightgray;
    width: 30vw;
    height: 4.5vh;
    color: lightgray;
}

#btnRegistreerLoginPagina {
    margin-top: 6vh;
    margin-left: 17vw;
    float: left;
}

#btnLoginLoginPagina {
    margin-top: 6vh;
    margin-right: 17vw;
    float: right;
}

#btnForgotPaswdLoginPagina {
    border: none;
    color: lightgray;
    font-size: 12px;
    margin-top: 25vh;
}