body {
    text-align: center;
    background-image: linear-gradient(to bottom, #bfbfbf, #404040);
}

.loginFoto {
    margin-top: 10vh;
}

input[type=text] {
    margin-left: auto;
    margin-right: auto;
    margin-top: 18vh;
    border: none;
    border-bottom: 2px solid white;
    width: 65vw;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    color: white;
}

#inptPswdLogin {
    margin-top: 5vh;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #d9d9d9;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #d9d9d9;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #d9d9d9;
}

input[type=checkbox] {
    margin-top: 4vh;
}