/* Your app custom styles here */
body {
    text-align: center;

   
} 
div.page-content{
    background-image: linear-gradient(to bottom, #bfbfbf, #404040);
    /*background-image: url(${background});*/
}

.loginFoto {
    margin-top: 10vh;
}

#inptLoginLoginPagina,
#inptPswdLoginPagina,
#inptLoginRegistratiePagina,
#inptEmailRegitratiePagina,
#inptPasswordRegistratiePagina,
#inptConformPasswordRegistratiePagina,
#inptEmailAdresWachtwoordVergetenPagina {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid white;
    width: 65vw;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    color: white;
}

#inptLoginLoginPagina,
#inptLoginRegistratiePagina,
#inptEmailAdresWachtwoordVergetenPagina {
    margin-top: 10vh;
}

#inptPswdLoginPagina,
#inptEmailRegitratiePagina,
#inptPasswordRegistratiePagina,
#inptConformPasswordRegistratiePagina {
    margin-top: 4vh;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d9d9d9;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d9d9d9;
}


/* The container */
.container {
    display: block;
    position: relative;
    margin-left: 17.5vw;
    margin-top: 4vh;
    font-size: 14px;
    color: lightgray;
}


/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: transparent;
    border: 2px solid lightgray;
    border-radius: 5px;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}


/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#btnRegistreerLoginPagina,
#btnLoginLoginPagina,
#btnRegistreerRegistratiePagina,
#btnCancelRegistratiePagina,
#btnGoBackGDPRPagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina,
#btnCancelWachtwoordVergetenPagina,
#btnCancelOptiesKopenPagina {
    border: 3px solid lightgray;
    width: 30vw;
    height: 4.5vh;
    color: lightgray;
}

#btnRegistreerLoginPagina,
#btnLoginLoginPagina, {
    width: 30vw;
}

#btnRegistreerRegistratiePagina,
#btnCancelRegistratiePagina,
#btnGoBackGDPRPagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina,
#btnCancelWachtwoordVergetenPagina,
#btnCancelOptiesKopenPagina,
#btnVeranderWachtwoordProfielPagina,
#btnBewaarWijzigingenProfielPagina,
#btnCancelProfielPagina {
    width: 65vw;
    margin-left: 17.5vw;
}

#btnRegistreerRegistratiePagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina {
    margin-top: 6vh;
}

#btnCancelRegistratiePagina {
    margin-top: 2vh;
}

#btnGDPRlink,
#btnForgotPaswdLoginPagina {
    margin-left: 5vw;;
    width: 90vw;
    border: none;
    color: lightgray;
    font-size: 12px;
}

#btnGDPRlink,
#btnCancelWachtwoordVergetenPagina {
    margin-top: 4vh;
}

#btnRegistreerLoginPagina {
    margin-top: 6vh;
    margin-left: 17vw;
    float: left;
}

#btnLoginLoginPagina {
    margin-top: 6vh;
    margin-right: 17vw;
    float: right;
}

#btnForgotPaswdLoginPagina {
    border: none;
    color: lightgray;
    font-size: 12px;
    margin-top: 12vh;
}

#btnMixQuizOverzichtQuizPagina,
#btnYesNoQuizOverzichtQuizPagina,
#btnImagesQuizOverzichtQuizPagina,
#btnAddQuestionQuizOverzichtQuizPagina,
#btnBuyOptionsOverzichtQuizPagina {
    height: 10vh;
    width: 40vw;
    border-radius: 15px;
    font-size: 16px;
}

#btnMixQuizOverzichtQuizPagina,
#btnImagesQuizOverzichtQuizPagina {
    float: left;
    margin-left: 8vw;
    margin-top: 4vh;
}

#btnYesNoQuizOverzichtQuizPagina,
#btnAddQuestionQuizOverzichtQuizPagina {
    float: right;
    margin-right: 8vw;
    margin-top: 4vh;
}

#btnBuyOptionsOverzichtQuizPagina {
    margin-top: 15vh;
    margin-left: 8vw;
    width: 84vw;
    border: 2px solid rgb(161, 91, 5);
    color: rgb(161, 91, 5);
}

#btnMixQuizOverzichtQuizPagina {
    border: 2px solid rgb(0, 68, 255);
    color: rgb(0, 68, 255);
}

#btnYesNoQuizOverzichtQuizPagina {
    border: 2px solid rgb(211, 2, 2);
    color: rgb(211, 2, 2);
}

#btnImagesQuizOverzichtQuizPagina {
    border: 2px solid rgb(2, 119, 2);
    color: rgb(2, 119, 2);
}

#btnAddQuestionQuizOverzichtQuizPagina {
    border: 2px solid rgb(110, 3, 110);
    color: rgb(110, 3, 110);
}

#btnShieldOptionOptiesKopenPagina,
#btnThunderOptionOptiesKopenPagina,
#btnOponentMinus10SecOptionOptiesKopenPagina {
    height: 8vh;
    width: 84vw;
    margin-left: 8vw;
    margin-top: 4vh;
    border-radius: 8px;
}

#btnShieldOptionOptiesKopenPagina {
    margin-top: 10vh;
    border: 2px solid rgb(0, 77, 0);
    color: rgb(0, 77, 0);
    background-color: rgb(69, 192, 69);
}

#btnThunderOptionOptiesKopenPagina {
    border: 2px solid rgb(184, 187, 0);
    color: rgb(184, 187, 0);
    background-color: rgb(237, 240, 105);
}

#btnOponentMinus10SecOptionOptiesKopenPagina {
    border: 2px solid rgb(226, 6, 6);
    color: rgb(226, 6, 6);
    background-color: rgb(212, 99, 99);
}

#btnCancelOptiesKopenPagina {
    margin-top: 20vh;
}

#btnProfiel {
    border: 2.5px solid rgb(57, 57, 109);
    border-radius: 50%;
    width: 12%;
    height: 6.5%;
    margin-top: 4vh;
    margin-left: 45vw;
}

#btnVeranderProfielFotoProfielPagina {
    border: 2.5px solid rgb(57, 57, 109);
    border-radius: 50%;
    width: 46%;
    height: 12vh;
    margin-top: 4vh;
    margin-left: 40vw;
}

#btnVeranderWachtwoordProfielPagina,
#btnBewaarWijzigingenProfielPagina,
#btnCancelProfielPagina {
    border: 3px solid rgb(95, 95, 95);
    color: rgb(95, 95, 95);
    margin-top: 2vh;
}

#btnVeranderWachtwoordProfielPagina {
    margin-top: 16vh;
}

#imgLoginLoginPagina {
    margin-top: 12vh;
}

#imgStandaardProfielFoto {
    width: 130%;
    height: 100%;
}

#divIdAantalMunten,
#divLevelVanSpeler {
    font-weight: bold;
}

#divIdAantalMunten {
    float: left;
    margin-top: 6vh;
    margin-left: 27vw;
}

#divLevelVanSpeler {
    float: right;
    margin-top: -4.5vh;
    margin-right: 24vw;
}