/* Your app custom styles here */
body {
    text-align: center;

   
} 
div.page-content{
    background-image: linear-gradient(to bottom, #000066, #cc0066);
    /*background-image: url(${background});*/
}

.loginFoto {
    margin-top: 10vh;
}

#inptLoginLoginPagina,
#inptPswdLoginPagina,
#inptLoginRegistratiePagina,
#inptEmailRegitratiePagina,
#inptPasswordRegistratiePagina,
#inptConformPasswordRegistratiePagina,
#inptEmailAdresWachtwoordVergetenPagina {
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-bottom: 2px solid white;
    width: 65vw;
    padding-left: 0.8em;
    padding-bottom: 0.2em;
    color: white;
}

#inptLoginLoginPagina,
#inptLoginRegistratiePagina,
#inptEmailAdresWachtwoordVergetenPagina {
    margin-top: 10vh;
}

#inptPswdLoginPagina,
#inptEmailRegitratiePagina,
#inptPasswordRegistratiePagina,
#inptConformPasswordRegistratiePagina {
    margin-top: 4vh;
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #d9d9d9;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #d9d9d9;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #d9d9d9;
}

#btnRegistreerLoginPagina,
#btnLoginLoginPagina,
#btnRegistreerRegistratiePagina,
#btnCancelRegistratiePagina,
#btnGoBackGDPRPagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina,
#btnCancelWachtwoordVergetenPagina,
#btnCancelOptiesKopenPagina,
#btnNewGameResultaatPagina {
    border: 3px solid lightgray;
    width: 30vw;
    height: 4.5vh;
    color: purple;
    background-color: lightgray;
    font-weight: bolder;
}

#btnRegistreerLoginPagina,
#btnLoginLoginPagina, {
    width: 30vw;
}

#btnRegistreerRegistratiePagina,
#btnCancelRegistratiePagina,
#btnGoBackGDPRPagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina,
#btnCancelWachtwoordVergetenPagina,
#btnCancelOptiesKopenPagina,
#btnVeranderWachtwoordProfielPagina,
#btnBewaarWijzigingenProfielPagina,
#btnCancelProfielPagina,
#btnGDPRlinkProfielPagina,
#btnNewGameResultaatPagina {
    width: 65vw;
    margin-left: 17.5vw;
}

#btnRegistreerRegistratiePagina,
#btnWachtwoordVergetenWachtwoordVergetenPagina {
    margin-top: 6vh;
}

#btnCancelRegistratiePagina {
    margin-top: 2vh;
}

#btnGDPRlink,
#btnGDPRlinkProfielPagina,
#btnForgotPaswdLoginPagina,
#btnGoBackToHomePageResultaatPagina,
#btnSTARTconfettiResultaatPagina {
    margin-left: 5vw;;
    width: 90vw;
    border: none;
    color: lightgray;
    font-size: 12px;
}

#btnGDPRlink,
#btnGDPRlinkProfielPagina,
#btnCancelWachtwoordVergetenPagina {
    margin-top: 4vh;
}

#btnRegistreerLoginPagina {
    margin-top: 6vh;
    margin-left: 17vw;
    float: left;
}

#btnLoginLoginPagina {
    margin-top: 6vh;
    margin-right: 17vw;
    float: right;
}

#btnForgotPaswdLoginPagina {
    border: none;
    color: lightgray;
    font-size: 12px;
    margin-top: 12vh;
}

#btnMixQuizOverzichtQuizPagina,
#btnYesNoQuizOverzichtQuizPagina,
#btnImagesQuizOverzichtQuizPagina,
#btnAddQuestionQuizOverzichtQuizPagina,
#btnBuyOptionsOverzichtQuizPagina {
    height: 10vh;
    width: 40vw;
    border-radius: 15px;
    font-size: 16px;
}

#btnMixQuizOverzichtQuizPagina,
#btnImagesQuizOverzichtQuizPagina {
    float: left;
    margin-left: 8vw;
    margin-top: 4vh;
}

#btnYesNoQuizOverzichtQuizPagina,
#btnAddQuestionQuizOverzichtQuizPagina {
    float: right;
    margin-right: 8vw;
    margin-top: 4vh;
}

#btnBuyOptionsOverzichtQuizPagina {
    margin-top: 15vh;
    margin-left: 8vw;
    width: 84vw;
    border: 2px solid rgb(255, 129, 0);
    background-color: rgb(255, 129, 0);
    color: rgb(54, 33, 7);
}

#btnMixQuizOverzichtQuizPagina {
    border: 2px solid rgb(0, 255, 231);
    background-color: rgb(0, 255, 231);
    color: rgb(11, 48, 130);
    font-size: 15px;
}

#btnYesNoQuizOverzichtQuizPagina {
    border: 2px solid rgb(2, 211, 57);
    background-color: rgb(2, 211, 57);
    color: rgb(11, 74, 10);
    font-size: 15px;
}

#btnImagesQuizOverzichtQuizPagina {
    border: 2px solid rgb(239, 255, 0);
    background-color: rgb(239, 255, 0);
    color: rgb(75, 83, 9);
    font-size: 15px;
}

#btnAddQuestionQuizOverzichtQuizPagina {
    border: 2px solid rgb(255, 32, 255);
    background-color: rgb(255, 32, 255);
    color: rgb(38, 0, 38);
    font-size: 15px;
}

#btnShieldOptionOptiesKopenPagina,
#btnThunderOptionOptiesKopenPagina,
#btnOponentMinus10SecOptionOptiesKopenPagina {
    height: 8vh;
    width: 84vw;
    margin-left: 8vw;
    margin-top: 4vh;
    border-radius: 8px;
}

#btnShieldOptionOptiesKopenPagina {
    margin-top: 10vh;
    border: 2px solid rgb(0, 255, 0);
    background-color: rgb(0, 255, 0);
}

#btnThunderOptionOptiesKopenPagina {
    border: 2px solid rgb(251, 255, 0);
    background-color: rgb(251, 255, 0);
}

#btnOponentMinus10SecOptionOptiesKopenPagina {
    border: 2px solid rgb(255, 0, 0);
    background-color: rgb(255, 0, 0);
}

#btnCancelOptiesKopenPagina {
    margin-top: 20vh;
}

#btnProfiel {
    border: 2.5px solid white;
    border-radius: 50%;
    width: 12%;
    height: 6.5%;
    margin-top: 4vh;
    margin-left: 45vw;
}

#btnVeranderProfielFotoProfielPagina {
    border: 2.5px solid lightgray;
    border-radius: 50%;
    width: 46%;
    height: 12vh;
    margin-top: 4vh;
    margin-left: 40vw;
}

#btnVeranderWachtwoordProfielPagina,
#btnBewaarWijzigingenProfielPagina,
#btnCancelProfielPagina {
    border: 3px solid lightgray;
    color: purple;
    background-color: lightgray;
    margin-top: 2vh;
}

#btnVeranderWachtwoordProfielPagina {
    margin-top: 16vh;
}

#btnGoBackGDPRPagina {
    margin-top: 4vh;
}

#btnGDPRlinkProfielPagina {
    margin-top: 30vh;
}

#btnNewGameResultaatPagina {
    margin-top: 50vh;
}

#btnGoBackToHomePageResultaatPagina {
    margin-top: 2vh;
}

#imgLogo {
    margin-top: 7vh;
    height: 25%;
}

#imgStandaardProfielFoto {
    width: 130%;
    height: 100%;
}

#divIdAantalMunten,
#divLevelVanSpeler {
    font-weight: bold;
    color: white;
}

#divIdAantalMunten {
    float: left;
    margin-top: 6vh;
    margin-left: 27vw;
}

#divLevelVanSpeler {
    float: right;
    margin-top: -4.5vh;
    margin-right: 24vw;
}

#pIdTitleGDPRPagina {
    font-weight: bold;
    font-size: 20px;
    padding: 2%;
    color: white;
}

#pIdTitleResultaatPagina {
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-top: 12vh;
}

.pClassTitleGDPRPagina {
    font-weight: bold;
    padding: 2%;
    color: white;
}

.pClassTextGDPRPagina {
    padding-left: 2%;
    padding-right: 2%;
    color: #d6c8c8;
}

a.button.popup-open {
    color: black;
    border: transparent;
}

/* ************************************************************************************************************ */
/* *************************** MAKE CONTENT MOVE ************************************************************** */
/* ************************************************************************************************************ */
/*
.shake {
    color: white;
    padding: 2%;
    -webkit-animation: 1s linear 0s infinite alternate shake;
    animation: 1s linear 0s infinite alternate shake;
    animation-iteration-count: 6;
}

@-webkit-keyframes shake { 
    from { margin-left: -20%; opacity: 0.4;} 
    to { margin-left: 20%; opacity: 1;}
}
@keyframes shake {
    from { margin-left: -20%; opacity: 0.4;}
    to { margin-left: 20%; opacity: 1;}
}
*/
/* ************************************************************************************************************ */
/* *************************** MAKE CONTENT BLURRY ************************************************************ */
/* ************************************************************************************************************ */
/*
.blurry {
    color: white;
    padding: 2%;
    -webkit-animation: blurry 2s 0.1s  1 alternate;
    animation: blurry 2s 0.15s  1 alternate;
    animation-iteration-count: 6;
}

@-webkit-keyframes blurry { 
    0% { opacity: 0.1; text-shadow: 0 0 10px lightgray, 0 0 10px lightgray; color: white;} 
    50% { opacity: 0.2; text-shadow: 0 0 10px lightgray, 0 0 10px lightgray; color: white;}
    100% { opacity: 0.3; text-shadow: 0 0 10px; color: white;}
}
@keyframes blurry {
    0% { opacity: 0.1; text-shadow: 0 0 10px lightgray, 0 0 10px lightgray; color: white;}
    50% { opacity: 0.2; text-shadow: 0 0 10px lightgray, 0 0 10px lightgray; color: white;}
    100% { opacity: 0.3; text-shadow: 0 0 10px; color: white;}
}
*/
/* ************************************************************************************************************ */
/* *************************** MIRROR EFFECT CONTENT ********************************************************** */
/* ************************************************************************************************************ */

.mirror {
    color: white;
    padding: 2%;
    -webkit-transform: rotateY(150deg); /* Safari prior 9.0 */
    transform: rotateY(150deg); /* Standard syntax */
    animation-iteration-count: 6;
}

@-webkit-keyframes mirror { 
    0% { writing-mode: horizontal-rl;} 
    100% { writing-mode: horizontal-rl;}
}
@keyframes mirror {
    0% { writing-mode: horizontal-rl;}
    100% { writing-mode: horizontal-rl;}
}